In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pylab as pl

In [3]:
#menampilkan data dari file csv
data = pd.read_csv('data_volume_susu.csv')

In [4]:
data

,Produksi Susu Perusahaan Sapi Perah,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,Volume (000 Ltr),70758.00,64110.38,58817.0,30540.00,36460.64,16240.95,19210.49,19439.21,45036.63,39680.25,33041.83,34102.13,31639.38,37013.33,351717.80,34290.80
1,Nilai (Juta Rp),335460.94,293616.69,257712.9,242517.01,125499.89,48798.93,59535.43,60151.99,125831.68,89454.68,73827.14,67347.55,59634.51,65969.26,59815.11,55826.83

In [5]:
#buat data dummy berupa umur sapi, volume susu, waktu perah, waktu makan, dan jenis makan
data_dummy = pd.get_dummies(data, columns=['umur', 'volume_susu', 'waktu_perah', 'waktu_makan', 'jenis_makan'])

KeyError: "None of [Index(['umur', 'volume_susu', 'waktu_perah', 'waktu_makan', 'jenis_makan'], dtype='object')] are in the [columns]"